body{
  background-color: #000000;
}
#backgroundset{
  width:1280px;
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
}

#logo{
  margin-left: 460px;
  width: 350px;
  height: 300px;
}


#mainpic{
   width:1280px;
   margin-top: 0px;
   display: inline-block;
   height:241px;
}

#sub_about{
  width: 1280px;
  height: 600px;
  margin-top: 90px;
  display: inline-block;
}

#side_bar{
  width: 260px;
  height:540px;
  margin:0;
  display: inline-block;
  float: left;
  border: 3px solid red;
}

#side_bar p{
  color: #FFFFFF;
  font-family: 微軟正黑體;
  font-size: 25px;
}

#title{
  text-align: center;
}
li{
  color:white;
  margin-top: 30px;
}

.line{
  border : 2px solid #FFFFFF;
  width: 60%;
  margin-left: 20%;
}

.us{
width:890px;
height:240px;
display: inline-block;
float: left;
margin-left: 100px;
margin-bottom: 50px;
border:2px solid #FFFFFF;
}

#us_pic{
  width:366px;
  height:220px;
  display: inline-block;
  float:left;
  margin: 0px;
}

.us_pic{
  border-radius: 50%;
  width:200px;
  height:200px;
  margin-left: 30px;
  margin-top: 15px;
}

#us_intro{
  width:466px;
  height:240px;
  display: inline-block;
  float:left;
  margin-left: 0px;
}

#btn_us{
  margin-bottom: 0px;
}

.borders{
background: black;
width:1280px;
position: absolute;
height:50px;
margin-top: -251px;
opacity: 0.87;
}

.link{
  margin-top: 10px;
  float: left;
  width: 25%;
  font-family:Ravie;
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align:center;
}
