body{
  background-color: #000000;
}
#backgroundset{
  width:1280px;
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
}

#logo{
  margin-left: 460px;
  width: 350px;
  height: 300px;
}

#mainpic{
  width:1280px;
  margin-top: 0px;
 display: block;
 height:241px;
}

#sub_shop{
  width:1280px;
  margin-top: 0px;
  display: inline-block;
}

.sub{
  width: 1280px;
  height:140px;
  margin-top: 160px;
  display: inline-block;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.shop{
  width:20%;
  display: block;
  float: left;
}

.marginLeft{
  margin-left: 6.6%;
}
.borders{
background: black;
width:1280px;
position: absolute;
height:50px;
margin-top: -241px;
opacity: 0.87;
}


.link{
  margin-top: 10px;
  float: left;
  width: 25%;
  font-family:Ravie;
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align:center;
}
