body{
  background-color: #000000;
}
#backgroundset{
  width:1280px;
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
}

#logo{
  margin-left: 506px;
  margin-top: 30px;
  display: inline-block;
  width: 250px;
  height: 200px
}

#mainpic{
   width:1280px;
   margin-top: 0px;
   display: inline-block;
   height:241px;
}

#sub_shop{
  width:1280px;
  margin-top: 0px;
  display: inline-block;
}

.sub{
  width: 1280px;
  height:140px;
  margin-top: 160px;
  display: inline-block;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.shop{
  width:260px;
  margin-left: 54px;
  display: inline-block;
  float: left;
}
