body{
  background-color: #000000;
  margin: 0;
}

.backgroundset{
  width:1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
}

#logo{

  margin-left: 460px;
  width: 350px;
  height: 300px;
}

#mainpic{
   width:1280px;
   margin-top: 0px;
  display: block;
  height:241px;
}

#sub{
  width:1280px;
  height:598px;
}

.sidebar{
  width:880px;
  height :440px;
  margin-top: 0px;
  margin-left: 370px;
  display: inline-block;
  float: left;

}

#title{
  font-size: 30px;
  font-weight: bold;
  color :yellow;
  font-family: 微軟正黑體;
}

.line{
  border : 3px solid #FFFFFF;
}

.sidebar p{
  color: white;
  font-family: 微軟正黑體
  margin-left: 5px;
  margin-right: 3px;
  font-size: 20px;
}

.borders{
background: black;
width:1280px;
position: absolute;
height:50px;
margin-top: -241px;
opacity: 0.87;
}


.link{
  margin-top: 10px;
  float: left;
  width: 25%;
  font-family:Ravie;
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align:center;
}

#product_picture{
  width:880px;
  height:400px;
  margin-top: 20px;
  margin-left: 110px;
  display: inline-block;
  float: left;
}

#sub_navigation{
  width:1280px;
  height:488px;
  margin-top: 20px;
  display: inline-block;
  float: left;
}

.sub{
  width: 260px;
  height:488px;
  margin:0;
  display: inline-block;
  float: left;
}

.shop{
  width:260px;
  height:122px;
  display: inline-block;
  float: left;

}
.content{
    color:white;
    font-family: 微軟正黑體;
    font-size: 18px;
}

.estimate{
  color: white;
  font-size: 30px;
  padding-left: 30px;
  margin-bottom: 100px;
}

.button{
  width: 100px;
  height: 40px;
  margin-bottom: 100px;
}
.buttonMargin{
  margin-left: 20px;
}
.displaynone{
  display: none;
}

.rightMove{
  padding-left: 30px;

}

footer{
  width:1280px;
  margin-left: auto;
  margin-right: auto;
}
