body{
  background-color: #000000;
  padding-bottom: 100px;
}

#backgroundset{
  width:1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
}

#logo{
  margin-left: 460px;
  width: 350px;
  height: 300px;
}
#mainpic{
   width:100%;
   height: 450px;
   display: block;
}


#sub_shop{
  width:1280px;
  margin-top: 0px;
  display: inline-block;
}

.sub{
  width: 1280px;
  height:140px;
  margin-top: 80px;
  display: inline-block;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.shop{
  width:20%;
  display: block;
  float: left;
}

.marginLeft{
  margin-left: 6.6%;
}

.borders{
background: red;
width:1280px;
position: absolute;
height:50px;
margin-top: -450px;
opacity: 0.9;
}

.link{
  margin-top: 10px;
  float: left;
  width: 25%;
  font-family:Ravie;
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align:center;
}
footer{
  color: white;
}

.copy{
  margin-left: 300px;
  float:left;
}
.designer{
  margin-right: 300px;
  float:right;
}
.btn_line{
  border:3px solid red;
}
